.question-screen{
    /* border : 1px solid red; */
    width : 50vw;
    height: 20vh;
    line-height: 20vh;
    border-radius: 15px;
    background-color: rgba(99, 152, 131, 0.495);
    margin : 0 auto;
    margin-top: 15%;
    font-family: 'Callie Chalk Font', sans-serif;
}
.classroom {
   width: 100%;
   height: 100%;
}
.topBar {
    width: 100vw;
    height: 10vh;
    background-color: black;
}
.classContainer{
    width: 100vw;
    height: 90vh;
    margin : 0 auto;
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-family: 'Callie Chalk Font', sans-serif;
    color: black;
    justify-content: space-around;
}
.dateSign{
    position: absolute;

    left : 0vw;
    bottom: 0;
    width: 10%;
    z-index: 2;
}
.options_screen{
    /* border : 1px solid green; */
    width : 50vw;
    /* min-height: 20vh; */
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.options{
    /* border : 1px solid blue; */
    width : 100%;
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    width: 80%;
    top: 25%;
    left: 50%;
    font-size: 1.5vw;
    transform: translate(-50%, -50%);
  }
  .centeredTile{
    position: absolute;
    width: 100%;
    top: 40%;
    left: 45%;
    font-size: 1vw;
    transform: translate(-50%, -50%);
  }